CACHE MANIFEST
# generated {{ date.isoformat()}}

CACHE:
/
/static/js/controllers.js
/static/js/lib/angular.js
/static/js/lib/angular-route.js
/static/js/lib/ui-bootstrap-tpls-0.10.0.js
/static/css/app.css
/static/css/bootstrap/bootstrap.css
/static/partials/main.html
/static/partials/note_form.html

FALLBACK:
/static/partials/main.html /static/partials/main_offline.html
/static/js/app.js /static/js/app_offline.js
/static/js/services.js /static/js/services_offline.js
/static/js/directives.js /static/js/empty.js

NETWORK:
*
